﻿Námět a cíl hry <br /> 
V teto hře budete řidit kolobkem, který byl na prochazce v lesu a se stratil. <br /> 
Naš hlavní cíl je přivest Kolobka domu.<br /> 
V průběhu hry hráč bude potřebovat uklidit si cestu v temním lesě, <br /> 
aby se hýbat dál(na to je třeba použit h-objekt z lokace Haj). Taky v další lokaci Kolobok bude muset pomoc lišce, <br /> 
která ho nasledně přivede domu(další využití h-objektu). <br /> 
Hlavně v průběhu hry ne potkat hladového vlka, který rád sní naše hrdinu.<br /> 
<br /> 
Příkazy <br /> 
<br /> 
běž cíl <br /> 
Přesune hráče do prostoru cíl, který musí být aktuální sousedem prostoru, v němž se hráč právě nachází. <br /> 
<br /> 
napoveda <br /> 
Příkaz pro vyvolání nápovědy <br /> 
<br /> 
podivejse objekt <br /> 
Podívá se na zvolený objekt. <br /> 
<br /> 
poloz objekt <br /> 
Přesune zadaný h-objekt z batohu do aktuálního prostoru. <br /> 
<br /> 
rozbij objekt  <br /> 
Rozbije  zvolený předmět Sekerou,  když sekera je v batohu.Syntaxe je 'rozbij Objekt ' <br /> 
<br /> 
spat  <br /> 
Kolobok se vyspí. <br /> 
<br /> 
rozpil objekt <br /> 
Rozpilí  zvolený předmět pilou,  když pilka je v batohu.Syntaxe je 'rozpil Objekt ' <br /> 
<br /> 
seber objekt <br /> 
Přesune zadaný h-objekt z aktuálního prostoru do batohu. Přesouvá přitom pouze přenositelné h-objekty. <br /> 
<br /> 
obsahBatohu <br /> 
Vypiše  předměty ktere jsou v batohu. <br /> 
<br /> 
konec <br /> 
Ukončí hru. <br /> 
